*{
	margin: 0;
	padding: 0;
}

.navbar{
	top: 0;
  	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 9999;
}
.navbar-brand{
	color: #053698;
	font-family: algerian;
	font-size: 40px;
} 
.nav{ 
	float: right;
	font-size: 20px;

} 

.jumbotron{
	background-color: white;

}
.img1{
	margin-top: 50px;
}
.first{
	margin-top: 200px;
	font-family: lucida handwriting;
	font-size: 100px;
	color: #020A76;
}
.btn-primary, .btn-success{
	width: 150px;
	height: 50px;
	border-radius: 30px;
	outline: none;
	font-family: lucida handwriting;
	font-weight: bolder;
}

.cntct{
	width: 120px;
	height: 40px;
	border-radius: 30px;
	outline: none;
	font-weight: bolder;
	font-family: arial;
}
.card{
	background-image: linear-gradient(to bottom right, #0066CC, #99CCFF);
	color: white;
	font-weight: bolder;

}
h1{
	color:#053698;
	font-family: lucida handwriting;
}
#section3,#section1,#section2{
	color: #053698;
	
}
.page-footer{
	background-color: #99CCFF;
}
form{
	position: relative;
	top: 150px;
	font-family: lucida handwriting;
	color: black;
	font-size: 20px;
	font-weight: bolder;

}
.image11{
	filter: blur(8px;);
}